<form ngForm>
  <div *ngIf="filter" id="filters">
  <select [(ngModel)]="idArquivoCnab" name="idArquivoCnab" id="idArquivoCnab">
    <option 
      *ngFor="let arquivoCnab of filter.ArquivosCnab" 
      [value]="arquivoCnab.Id">
        {{ arquivoCnab.Id }} - {{ arquivoCnab.Nome }}
    </option>
  </select>

  <select [(ngModel)]="loja" name="loja" id="loja">
    <option 
      *ngFor="let loja of filter.Lojas" 
      [value]="loja">
        {{ loja }}
    </option>
  </select>

  <button (click)="onSearch()">Buscar</button>
</div>

<div *ngIf="result" id="result">
  <table>
    <thead>
      <tr>
        <th>IdArquivoCnab</th>
        <th>NomeArquivo</th>
        <th>Linha</th>
        <th>Cpf</th>
        <th>Cartao</th>
        <th>DonoLoja</th>
        <th>NomeLoja</th>
        <th>Tipo</th>
        <th>Data</th>
        <th>Valor</th>
        <th>Hora</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cnab of result">
      <td>{{cnab.IdArquivoCnab}}</td>
      <td>{{cnab.NomeArquivo}}</td>
      <td>{{cnab.Linha}}</td>
      <td>{{cnab.Cpf}}</td>
      <td>{{cnab.Cartao}}</td>
      <td>{{cnab.DonoLoja}}</td>
      <td>{{cnab.NomeLoja}}</td>
      <td>{{cnab.Tipo}}</td>
      <td>{{cnab.Data}}</td>
      <td>{{cnab.Valor}}</td>
      <td>{{cnab.Hora}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>Saldo: </th>
      <th colspan="10">{{saldo}}</th>
    </tr>
  </tfoot>
  </table>
</div>
</form>
